name: GitHub Self-Updating Repository

on:
  schedule:
    - cron: "0 */4 * * *"

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        # https://github.com/actions/checkout/tree/v3.0.2
        uses: actions/checkout@v4
        with:
          ref: ics
      - name: Create UFC.ics
        run: |
          npm install
          npm start
      - name: Push to repository
        run: |
          git config --global user.name "Clarence Chan"
          git config --global user.email "clarencechaan@icloud.com"
          git add UFC.ics UFC-PPV.ics
          git commit -m "Update UFC.ics and UFC-PPV.ics"
          git push -u origin ics
